* {
    box-sizing: border-box;
}

:root {
    --spacingbase: 1.1em;
    --text-base-size: 1em;
    --text-scale-ratio: 1.2;
    
    --text-xs: calc(1em / (var(--text-scale-ratio) * var(--text-scale-ratio)));
    --text-sm: calc(1em / var(--text-scale-ratio));
    --text-md: calc(1.01em * var(--text-scale-ratio));
    --text-lg: calc(1em * var(--text-scale-ratio) * var(--text-scale-ratio));
    --text-xl: calc(1em * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio));
    --text-xxl: calc(1em * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio));
    --text-xxxl: calc(1em * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio));
    
    --heading-line-height: 1;
    --text-lineheight-sm: 1.3;
    --text-lineheight-md: 1.45;
    --text-lineheight-lrg: 1.5;
    --text-lineheight: 1.5;
}
